.message-container
  %table.table.table-bordered
    %tbody
      - @messages.each do |message|
        %tr
          %td=message.a_section
          - message.open_hours.values.each do |day_hour|
            %td=day_hour



